In [11]:
import os
import pandas as pd
import requests
from neo4j import GraphDatabase, basic_auth

In [21]:
client_id = os.getenv('86b05yybbseija')
client_secret = os.getenv('KKX3STjCQyGfjbdT')
access_token = os.getenv('AQVt1--nTaKkSmhwtyDEO_V9pVaiMEqEZdcSP9dByAHq_9ETHMbGmQlcIMxl9T4kAvLCHIuX-EKRmeFxa5GcCptgrFgg_rQrbrzjw-Zt94IJcULk1pyAmeVYo5CnWKPAa1q1XvrpD-sTOrnU2SJha78-LcPQa0fVMicxQcbZ3fu9EUHROaDt-3tEGLIHaSzx277ZL_OJyOZ6j3PxRRwpumPTyYRPgOXHp--jiMXYY1K_H7l-uai4K2KkRfjXYp8jzAHpFKyFJ7eQN9kM1Z4NbHRRcYe7vnHK1B9NkaZ2y8AYCIFNp5X3_R3hbGyZkHiu43ylUQv8Eoo-vpwYMf0hyUuR4Y5FXQ')

# Set up the Neo4j credentials

In [22]:
url= 'bolt://localhost:7687'
user = 'neo4j'
password = '12345678'

driver = GraphDatabase.driver(url, auth=(user, password))

In [23]:
def fetch_data(query, params={}):
  with driver.session(database = 'neo4j') as session:
    result = session.run(query, params)
    return pd.DataFrame([r.values() for r in result], columns=result.keys())

In [24]:
from neo4j import GraphDatabase
import requests
import json

In [25]:
# Define labels and relationships for nodes
person_label = 'Person'
company_label = 'Company'
job_label = 'Job'
skill_label = 'Skill'
education_label = 'Education'
recommendation_label = 'Recommendation'

works_at_relationship = 'WORKS_AT'
owns_relationship = 'OWNS'
has_skill_relationship = 'HAS_SKILL'
studied_at_relationship = 'STUDIED_AT'
has_recommendation_relationship = 'HAS_RECOMMENDATION'

In [26]:
# Define authentication information
neo4j_uri = 'bolt://localhost:7687'
neo4j_user = 'neo4j'
neo4j_password = '12345678'
linkedin_access_token = 'AQVt1--nTaKkSmhwtyDEO_V9pVaiMEqEZdcSP9dByAHq_9ETHMbGmQlcIMxl9T4kAvLCHIuX-EKRmeFxa5GcCptgrFgg_rQrbrzjw-Zt94IJcULk1pyAmeVYo5CnWKPAa1q1XvrpD-sTOrnU2SJha78-LcPQa0fVMicxQcbZ3fu9EUHROaDt-3tEGLIHaSzx277ZL_OJyOZ6j3PxRRwpumPTyYRPgOXHp--jiMXYY1K_H7l-uai4K2KkRfjXYp8jzAHpFKyFJ7eQN9kM1Z4NbHRRcYe7vnHK1B9NkaZ2y8AYCIFNp5X3_R3hbGyZkHiu43ylUQv8Eoo-vpwYMf0hyUuR4Y5FXQ'
# linkedin_access_token = os.getenv('AQVt1--nTaKkSmhwtyDEO_V9pVaiMEqEZdcSP9dByAHq_9ETHMbGmQlcIMxl9T4kAvLCHIuX-EKRmeFxa5GcCptgrFgg_rQrbrzjw-Zt94IJcULk1pyAmeVYo5CnWKPAa1q1XvrpD-sTOrnU2SJha78-LcPQa0fVMicxQcbZ3fu9EUHROaDt-3tEGLIHaSzx277ZL_OJyOZ6j3PxRRwpumPTyYRPgOXHp--jiMXYY1K_H7l-uai4K2KkRfjXYp8jzAHpFKyFJ7eQN9kM1Z4NbHRRcYe7vnHK1B9NkaZ2y8AYCIFNp5X3_R3hbGyZkHiu43ylUQv8Eoo-vpwYMf0hyUuR4Y5FXQ')

In [27]:
# Define a function to create a relationship between a Person and a Company
def create_person_company_relationship(person_name, company_name):
    query = (f"MATCH (p:{person_label} {{name: $person_name}}), "
             f"(c:{company_label} {{name: $company_name}}) "
             f"CREATE (p)-[:{works_at_relationship}]->(c)")
    graph.run(query, person_name=person_name, company_name=company_name)

In [28]:
# Define a function to create a relationship between a Company and a Job
def create_company_job_relationship(company_name, job_title):
    query = (f"MATCH (c:{company_label} {{name: $company_name}}), "
             f"(j:{job_label} {{title: $job_title}}) "
             f"CREATE (c)-[:{owns_relationship}]->(j)")
    graph.run(query, company_name=company_name, job_title=job_title)

In [29]:
# Define a function to create a relationship between a Person and a Skill
def create_person_skill_relationship(person_name, skill_name):
    query = (f"MATCH (p:{person_label} {{name: $person_name}}), "
             f"(s:{skill_label} {{name: $skill_name}}) "
             f"CREATE (p)-[:{has_skill_relationship}]->(s)")
    graph.run(query, person_name=person_name, skill_name=skill_name)

In [30]:
# Define a function to create a relationship between a Person and an Education
def create_person_education_relationship(person_name, school_name):
    query = (f"MATCH (p:{person_label} {{name: $person_name}}), "
             f"(e:{education_label} {{school: $school_name}}) "
             f"CREATE (p)-[:{studied_at_relationship}]->(e)")
    graph.run(query, person_name=person_name, school_name=school_name)

In [31]:
# Define a function to create a relationship between a Person and a Recommendation
def create_person_recommendation_relationship(person_name, recommendation_content):
    query = (f"MATCH (p:{person_label} {{name: $person_name}}), "
             f"(r:{recommendation_label} {{content: $recommendation_content}}) "
             f"CREATE (p)-[:{has_recommendation_relationship}]->(r)")
    graph.run(query, person_name=person_name, recommendation_content=recommendation_content)

In [32]:

# Define a function to retrieve LinkedIn profile data
def get_linkedin_profile():
    url = 'https://api.linkedin.com/v2/search/people'
    headers = {'Authorization': f'Bearer {linkedin_access_token}'}
    params = {
        'q': 'location: India',
        'network': 'F',
        'includedFields': 'id,firstName,lastName,headline,positions,skills,educations,recommendationsReceived'
    }
    response = requests.get(url, headers=headers, params=params)
    data = json.loads(response.text)
    if 'elements' in data:
        for person in data['elements']:
            person_name = f"{person['firstName']} {person['lastName']}"
            person_node = Node(person_label, name=person_name)
            graph.merge(person_node)

            for position in person.get('positions', {}).get('elements', []):
                company_name = position.get('companyName')
                if company_name:
                    company_node = Node(company_label, name=company_name)
                    graph.merge(company_node)
                    create_person_company_relationship(person_name, company_name)

                    job_title = position.get('title')
                    if job_title:
                        job_node = Node(job_label, title=job_title)
                        graph.merge(job_node)
                        create_company_job_relationship(company_name, job_title)

            for skill in person.get('skills', {}).get('elements', []):
                skill_name = skill.get('name')
                if skill_name:
                    skill_node = Node(skill_label, name=skill_name)
                    graph.merge(skill_node)
                    create_person_skill_relationship(person_name, skill_name)

            for education in person.get('educations', {}).get('elements', []):
                school_name = education.get('schoolName')
                if school_name:
                    education_node = Node(education_label, school=school_name)
                    graph.merge(education_node)
                    create_person_education_relationship(person_name, school_name)

            for recommendation in person.get('recommendationsReceived', {}).get('elements', []):
                recommendation_content = recommendation.get('text')
                if recommendation_content:
                    recommendation_node = Node(recommendation_label, content=recommendation_content)
                    graph.merge(recommendation_node)
                    create_person_recommendation_relationship(person_name, recommendation_content)

In [33]:
# Connect to the Neo4j database
driver = GraphDatabase.driver(neo4j_uri, auth=(neo4j_user, neo4j_password))
graph = driver.session()

# Call the function to retrieve and store LinkedIn profile data
get_linkedin_profile()

In [34]:
# Close the database connection
graph.close()
driver.close()

# Sample queries and results

In [35]:
#query 1 
#Retrieve all individuals in the graph who have worked at a company in the "Technology" industry.
query_1 = 'MATCH (p:PERSON)-[:WORKED_AT]->(c:COMPANY) WHERE c.industry = "Technology" RETURN p.name, c.name'
pd1 =fetch_data(query_1)
pd1.head()

             p.name                     c.name
0      Anjali Singh  Tata Consultancy Services
1  Siddharth Rathod                    Infosys
2     Ishitha Gupta           HCL Technologies
3       Durga kanth              Wipro Limited
4        Sneha Garg                   Infoedge

In [36]:
#query2 
#Retrieve all individuals in the graph who have a skill in common with the individual "Anjali Singh" 
query_2 = 'MATCH (p:PERSON)-[:HAS_SKILL]->(s:SKILL)<-[:HAS_SKILL]-(as:PERSON {name: "Anjali Singh"}),(p)-[:WORKED_AT]->(c:COMPANY) WHERE NOT p = as AND c.location = "Kolkata, India"RETURN p.name, s.name, c.name'
pd2 =fetch_data(query_2)
pd2.head()

               p.name  s.name                     c.name
0     Siddharth Gupta    Java              Wipro Limited
1       Sanjana singh  Python              Wipro Limited
2  Harshavardhan Dube  Python           HCL Technologies
3         Mudit Gupta    Java                    Infosys
4      Pranav agarwal    Java  Tata Consultancy Services